<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.IStudentMapper">
    <resultMap id="studentMap" type="studentBean">
        <result column="pk_id" property="id"></result>
        <result column="f_name" property="name"></result>
        <result column="f_phone" property="phone"></result>
    </resultMap>
</mapper>