<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.IUserMapper">
    <resultMap id="userMap" type="userBean">
        <result column="pk_id" property="id"></result>
        <result column="f_name" property="name"></result>
        <result column="f_password" property="password"></result>
        <result column="f_age" property="age"></result>
    </resultMap>
</mapper>